### Problem Set 2

### Q.1

In [1]:
a = 0          

def b():       
 global a     
 a = c(a)

def c(a):
 return a + 2

print(b())           
print(b())
print(b())
print(a)

None
None
None
6

### Q.2

In [2]:
import os              

def file_length(file_name):          
    file = open(file_name)           
    contents = file.read()           
    file.close()
    if os.path.isfile(file_name):    
        return len(contents)         
    else:
        return -1                    

filename = 'Filelenghth.txt'                 
filesize = file_length(filename)     

if filesize != -1:                            
    print(f'The size of {filename} is {filesize} bytes.')
else:
    print(f'{filename} does not exist.')

The size of Filelenghth.txt is 123 bytes.

In [3]:
def file_Length(fl):
    try:
        with open(fl,) as infile:
            contents = infile.read()
            return len(contents)
    except FileNotFoundError:
        print("File {} not found.".format(fl))
    except:
        print("Error reading file {}.".format(fl))
print(file_Length('midterm.py'))

(file_Length('idterm.py'))

File midterm.py not found.
None
File idterm.py not found.

### Q.3

In [4]:
class Marsupial:
    def __init__(self):
        self.pouch = []
    
    def put_in_pouch(self, item):
        self.pouch.append(item)
    
    def pouch_contents(self):
        return self.pouch
    
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    
    def __str__(self):
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x, self.y)

k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

I am a Kangaroo located at coordinates (0,0)

['doll', 'firetruck', 'kitten']

In [5]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

### Q.4

In [6]:
def collatz(x):
    if x == 1:
        print(x)
    elif x % 2 == 0:
        print(x)
        collatz(x // 2)
    else:
        print(x)
        collatz(3 * x + 1)
        
collatz(1)

collatz(10)

1
10
5
16
8
4
2
1

### Q.5

In [7]:
def binary(n):
    if n == 0:
        return '0'
    elif n == 1:
        return '1'
    else:
        return binary(n // 2) + str(n % 2)
n = 0
print(binary(n))
n = 1
print(binary(n))
n = 3
print(binary(n))
n = 9
print(binary(n))

0
1
11
1001

### Q.8

In [15]:
import sqlite3

conn = sqlite3.connect('database_ASP.db')

c = conn.cursor()

c.execute('''CREATE TABLE AS_data (
                City TEXT,
                Country TEXT,
                Season TEXT,
                Temperature REAL,
                Rainfall REAL
            )''')

data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5),
]

c.executemany('INSERT INTO AS_data VALUES (?, ?, ?, ?, ?)', data)


conn.commit()                  

#SQL Queries
c.execute('SELECT Temperature FROM AS_data')  
print(c.fetchall())

c.execute('SELECT DISTINCT City FROM AS_data')
print(c.fetchall())

c.execute('SELECT * FROM AS_data WHERE Country="India"')
print(c.fetchall())

c.execute('SELECT * FROM AS_data WHERE Season="Fall"')
print(c.fetchall())

c.execute('SELECT City, Country, Season FROM AS_data WHERE Rainfall BETWEEN 200 AND 400 GROUP BY City, Country, Season')
print(c.fetchall())

c.execute('SELECT City, Country FROM AS_data WHERE Season="Fall" GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC')
print(c.fetchall())

c.execute('SELECT SUM(Rainfall) FROM AS_data WHERE City="Cairo"')
print(c.fetchall())

c.execute('SELECT Season, SUM(Rainfall) FROM AS_data GROUP BY Season')
print(c.fetchall())

# Close the connection 
conn.close()

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]
[('Mumbai',), ('London',), ('Cairo',)]
[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]
[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
[('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]
[('Cairo', 'Egypt'), ('Mumbai', 'India')]
[(27.6,)]
[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

### Q.9

In [16]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
uppercase_words = [element.upper() for element in words]
print(uppercase_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [17]:
lowercase_words = [element.lower() for element in words]
print(lowercase_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [18]:
[len(element) for element in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [19]:
[[element.upper(), element.lower(), len(element)] for element in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [20]:
[element for element in words if len(element) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']